body{ margin-top: 15px;
    margin-left:10px ;
    font-family: 'Poppins', sans-serif;
    background-color:#aaa7a7d7;
}

header{display: flex;
    justify-content: space-between;

}

.menu {display:flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    
}
.menu a,ul,li{
    text-decoration: none;
    display: inline;
    padding: 5px;
}
.section1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}



.sec1-div2{
    height: 420px;width: 440px;
}
.sec1-div2 img{
    height: 80%;width: 80%;margin-left: 70%;
}

.button{color: white;
        background-color: #E02C6D;
        padding: 10px;
        border-radius: 20px;
}

.e-logo{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    padding: 10px;
    align-items: center;
}

.items{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    margin-bottom: 40px;
}

.items img {height: 256px;width: 460px;
            padding-top: 12px;
            padding-left:10px;}

.all-item{background-color:white;
    box-shadow: black 3px;
    border-radius: 10px;
    overflow: hidden;
}

    .product-name{
        font-size: 28px;
    }

    .product-price{
        font-size: 24px;
    }
    .rating{
        color: #FB8200;
    }
    .no-rating{color: #FB8200;
    }
-item p,i{padding-left: 10px;
}
.see-more{
    color: red;
    float: right;
}
        .section2{
            display: flex;
            margin-top: 150px;
            margin-bottom: 80px;
        
        }
        .sec2-div1 img{
            width: 500px;
            height: 300px;
            border-radius: 10px;
            margin-left: 20px;
        }
        .sec2-div2{
            width: 600px;
            margin-left: 200px;
        }
        .sec2-div2 h3{
            font-size: 34px;
        }
        .button-2{color: white;
            background-color: #E02C6D;
            padding: 10px;
        
        }
footer{
    background-color:#0D0D0D;
    text-align: center;
}
.foot-head{
    color: white;
    text-align: center;
    padding-top: 20px;
}
.foot-p{
    color: white;
    text-align: center;
    padding-bottom: 20px;
    font-style: normal;
    font-size: small;
}
.fot-icon{
    color: white;
}
@media screen and (max-width: 900px) {
    .items{
        display: block;
    }
    .section1{
        display: block;
    }
    .section2{
        display: block;
    }
    .sec2-div1 img{
        width: 400px;
    }
    .sec2-div2{
        margin-left: 0;
        width: 400px;
    }
    .e-logo{
        display: block;
    }
    .sec1-div2 img{
        float:left;
    }
    }